Q.1: Convert temp from celcius to fahrenheit

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * (9 / 5)) + 32
    return fahrenheit


celsius = float(input("Enter celsius value:"))
print(celsius_to_fahrenheit(celsius))

Enter celsius value:34
93.2

Q.2: Given list of integers and find sum of all positive numbers

In [ ]:
def sum_positive_integer(list):
  positive_sum = 0
  for i in list:
    if i>0:
      positive_sum += i
  return positive_sum

list = [-1,-2,-4,0,2,5,7]
positive_sum = sum_positive_integer(list)
print(positive_sum)

14

Q.3: write program to convert given number of days into years, weeks and days

In [ ]:
def year_week_days(days):
  print(days/365,"year",(days-(days/365)/7,"week",(days-(days-(days/365),"days"))))


year_week_days(1000)

TypeError: ignored

Q.4: Given list of numbers find maximum and minimum values

In [ ]:
list = [23,45,67,87,45]
print(max(list))
print(min(list))

87
23

Q.5: Create a list of fruits and access element using indexing

In [ ]:
fruits = ["Apple","Mango","Banana","orange","Guava"]
print(fruits[0:4])
print(fruits[:])
print(fruits[0])
print(fruits[3])
print(fruits[-2])
print(fruits[-1::-1])

['Apple', 'Mango', 'Banana', 'orange']
['Apple', 'Mango', 'Banana', 'orange', 'Guava']
Apple
orange
orange
['Guava', 'orange', 'Banana', 'Mango', 'Apple']

Q.6: Create a function to cound number of vowels in a given string

In [ ]:
def vowel_count(name):
  vowel = "aeiouAEIOU"
  vowel_count = 0
  for i in name:
    if i in vowel:
      vowel_count += 1
  return vowel_count


print(vowel_count("Bibek shah"))

3

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [ ]:
list = ["Aarmin","Eren","Mikasa","Tanjiro","Rengoku"]
concatenated_string = " ".join(list)
print(concatenated_string)

Aarmin Eren Mikasa Tanjiro Rengoku

Q. 8: Create a function to reverse a given string

In [ ]:
def reverse(name):
  print(name[::-1])

reverse("Bibek")
reverse("Python")

kebiB
nohtyP

Q.9: Create a loop that prints first 10 even numbers

In [ ]:
i = 0
while i in range(21):
  print(i)

  i = i+2

0
2
4
6
8
10
12
14
16
18
20

Q.10: Given list of names,print all names starting with letter A

In [ ]:
def name_starting_with_a(name_list):
    for name in name_list:
        if name.startswith("A"):
            print(name)


name_list1 = ["Bibek", "Doremon", "Nobita", "Doreme", "Aarmin", "Ayush", "Abhisekh"]
name_starting_with_a(name_list1)

Aarmin
Ayush
Abhisekh

Q. 11: Implement a program that prints multiplication table of a given number

In [ ]:
def multiplication_of_a_number(number):
  for i in range(11):
    print(f"{number}*{i}={number*i}")
    i = i + 1


multiplication_of_a_number(7)

7*0=0
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

Q.12: Given list of words, count the number of words with more than five characters

In [ ]:
list=["Aarmin","Eren","Mikasa","Tanjiro","Rengoku","bibek"]
for i in list:
  if len(i)>5:
    print(i,len(i))

Aarmin 6
Mikasa 6
Tanjiro 7
Rengoku 7

Q.13: write a function to calculate area of circle given its radius

In [ ]:
from math import pi
def area_of_circle(radius):
  return pi*radius**2

radius = float(input("Enter the radius of a circle(in cm)"))
area = area_of_circle(radius)
print(f"The area of circle with radius {radius} is {area}")

Enter the radius of a circle(in cm)10
The area of circle with radius 10.0 is 314.1592653589793

Q.14 write a function that takes two lists and return their intersection

In [ ]:
def intersection_of_list(list1,list2):
  return set(list1).intersection(set(list2))

list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7,8]

intersection = intersection_of_list(list1,list2)
print(f"The intersection between the two list is {intersection}")

The intersection between the two list is {3, 4, 5}

Q.15: add a new key value pair to an existing dictionary

In [ ]:
dictionary = {"laptop":"a device",
              "guitar":"an instrument",
              "school":"a place to study"}
print(dictionary)
print(dictionary.update({"stadium":"a place for outdoor games"}))
print(dictionary)

{'laptop': 'a device', 'guitar': 'an instrument', 'school': 'a place to study'}
None
{'laptop': 'a device', 'guitar': 'an instrument', 'school': 'a place to study', 'stadium': 'a place for outdoor games'}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [ ]:
from math import pi