Q.1: Convert temp from celcius to fahrenheit

In [6]:
def celcius_to_fahrenheit(celcius):
  fahrenheit=(celcius * 9/5)+32

Enter the temprature:22 c

ValueError: ignored

Q.2: Given list of integers and find sum of all positive numbers

In [7]:
numbers = [5, -3, 10, -8, 7, 2, -1]

positive_sum = 0
for num in numbers:
    if num > 0:
        positive_sum += num

print("Sum of positive numbers:", positive_sum)

Sum of positive numbers: 24

Q.3: write program to convert given number of days into years, weeks and days

In [16]:
def yearmonthweek(days):
  year=days//365
  days%=365
  months=days//30
  week=days//7
  days %=30
  return year, months ,days

total_days=int(input('Enter no of days: '))
years, months, days = yearmonthweek(total_days)
print(f"{total_days} days is equal to: {years} years, {months} months, and {days} days")

Enter no of days: 130
130 days is equal to: 0 years, 4 months, and 10 days

Q.4: Given list of numbers find maximum and minimum values

In [21]:
import math
a=[1,2,3,4,5,6]
max_num=max(a)
print('the max num is ',max_num)
min_num=min(a)
print(min_num,'is the min number')

the max num is  6
1 is the min number

Q.5: Create a list of fruits and access element using indexing

In [24]:
a=['apple','banana','strawberry']
print(a[1])
print(a[0:])
print(a[-1])

banana
['apple', 'banana', 'strawberry']
strawberry

Q.6: Create a function to cound number of vowels in a given string

In [25]:
def vowels(word):
  vowels="AEIOUaeiou"
  vowel_count=0
  for char in word:
    if char in vowels:
      vowel_count=+1
      return vowel_count

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [33]:
list=['carol','bibek','rumansir','sushil']
split_name=[name.split()for name in list]
print(split_name)

[['carol'], ['bibek'], ['rumansir'], ['sushil']]

Q. 8: Create a function to reverse a given string

In [39]:
a= 'hello there'
print(a[0::])
print(a[::-1])

hello there
ereht olleh

Q.9: Create a loop that prints first 10 even numbers

In [105]:
i=range(1,25)
count=0
for num in i:
  if num%2==0:
    print(num)
    count=+1
    if count==10:
      break
print('BRAKE HERE')
even_count = 0
for num in range(2, 26, 2):
    print(num)
    even_count += 1
    if even_count == 10:
        break

TypeError: ignored

Q.10: Given list of names, print all names starting with letter A

In [65]:
name=['Carol','Bibek','Acharya']
for n in name:
  if n.startswith('A'):
    print(f'{n} startswith A')

Acharya startswith A

Q. 11: Implement a program that prints multiplication table of a given number

In [106]:
number = int(input("Enter a number for the multiplication table: "))

for i in range(1, 11):
  product = number * i
  print(f"{number} x {i} = {product}")

Enter a number for the multiplication table: 22

TypeError: ignored

Q.12: Given list of words, count the number of words with more than five characters

In [92]:
def count_words_with_more_than_five_characters(word_list):
    count = 0
    for word in word_list:
        if len(word) > 5:
            count += 1
    return count
words = ["apple", "banana", "watermelon","pineapple","orange"]

num_words = count_words_with_more_than_five_characters(words)
print(f"The number of words with more than five characters is: {num_words}")

The number of words with more than five characters is: 4

Q.13: write a function to calculate area of circle given its radius

In [90]:
def calculate_radius_from_diameter(diameter):
    radius = diameter / 2
    return radius
diameter = float(input("Enter the diameter of the circle: "))
radius = calculate_radius_from_diameter(diameter)
print(f"The radius of the circle is: {radius}")

Enter the diameter of the circle: 22
The radius of the circle is: 11.0

Q.14 write a function that takes two lists and return their intersection

In [99]:
def find_intersection(list1,list2):

  intersection=list(set(list1) & set(list2))
  return intersection
list1=['apple','ball','dog']
list2=['apple','big','hero']
intersection_result=find_intersection(list1,list2)
print(intersection_result)

TypeError: ignored

Q.15: add a new key value pair to an existing dictionary

In [101]:
my_dict = {"name": "John", "age": 30}
print(my_dict)

my_dict["city"] = "New city"

print(my_dict)

{'name': 'John', 'age': 30}
{'name': 'John', 'age': 30, 'city': 'New city'}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [82]:
def rectangle(length,breadth):
  area=length*breadth
  return area
rectangle(2,4)

8