Q.1: Convert temp from celcius to fahrenheit

In [62]:
def fahrenheit(c):
  print(( c * 9/5) + 32 )


fahrenheit(34)

93.2

Q.2: Given list of integers and find sum of all positive numbers

In [129]:
list = [3,4,5,6,-1,-2,-3,-4]
for i in list:
    if i>0:
      print(i)

3
4
5
6

Q.3: write program to convert given number of days into years, weeks and days

In [120]:
def year_week_days(days):
  print(days/365,"year",(days-(days/365)/7,"week",(days-(days-(days/365),"days"))))


year_week_days(1000)

TypeError: ignored

Q.4: Given list of numbers find maximum and minimum values

In [2]:
list = [23,45,67,87,45]
print(max(list))
print(min(list))

87
23

Q.5: Create a list of fruits and access element using indexing

In [25]:
fruits = ["Apple","Mango","Banana","orange","Guava"]
print(fruits[0:4])
print(fruits[:])
print(fruits[0])
print(fruits[3])
print(fruits[-2])
print(fruits[-1::-1])

['Apple', 'Mango', 'Banana', 'orange']
['Apple', 'Mango', 'Banana', 'orange', 'Guava']
Apple
orange
orange
['Guava', 'orange', 'Banana', 'Mango', 'Apple']

Q.6: Create a function to cound number of vowels in a given string

In [131]:
def count_vowels(word):
  print(word)


count_vowels("Hello")

Hello

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [118]:
list = ["Aarmin","Eren","Mikasa","Tanjiro","Rengoku"]
i = 0
while i>=0 in list:
  print(i)

Q. 8: Create a function to reverse a given string

In [64]:
def reverse(name):
  print(name[::-1])

reverse("Bibek")
reverse("Python")

kebiB
nohtyP

Q.9: Create a loop that prints first 10 even numbers

In [32]:
i = 0
while i in range(11):
  print(i)

  i = i+2

0
2
4
6
8
10

Q.10: Given list of names,print all names starting with letter A

In [97]:
list = ["Aarmin","Eren","Mikasa","Tanjiro","Rengoku","Ayush","Akon"]
for i in list:
  if i[0] == "A":
    print(i)

Aarmin
Ayush
Akon

Q. 11: Implement a program that prints multiplication table of a given number

In [38]:
def multi(a):
  for i in range(11):
      print(a,"X",i,"=",(a*i))


multi(7)
multi(11)

7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
11 X 0 = 0
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

Q.12: Given list of words, count the number of words with more than five characters

In [89]:
list=["Aarmin","Eren","Mikasa","Tanjiro","Rengoku"]
for i in list:
  if len(i)>5:
    print(i)

Aarmin
Mikasa
Tanjiro
Rengoku

Q.13: write a function to calculate area of circle given its radius

In [42]:
def area_circle(radius):
  print((22/7)*radius*radius)

area_circle(4)

50.285714285714285

Q.14 write a function that takes two lists and return their intersection

In [113]:
def list(a,b):
  for i in a intersection i in b:
    print(i)

list([1,2,3],[2,3,4])

SyntaxError: ignored

Q.15: add a new key value pair to an existing dictionary

In [47]:
dictionary = {"laptop":"a device",
              "guitar":"an instrument",
              "school":"a place to study"}
print(dictionary)
print(dictionary.update({"stadium":"a place for outdoor games"}))
print(dictionary)

{'laptop': 'a device', 'guitar': 'an instrument', 'school': 'a place to study'}
None
{'laptop': 'a device', 'guitar': 'an instrument', 'school': 'a place to study', 'stadium': 'a place for outdoor games'}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)