Q.1: Convert temp from celcius to fahrenheit

In [ ]:
def convert_to_fahrenheit(celcius):
    fahrenheit = (celcius*(9/5)+32)
    print(f'{celcius} degree celcius is equal to {fahrenheit} degree fahrenheit')

convert_to_fahrenheit(float(input("Enter Celcius: ")))

Enter Celcius: 0
0.0 degree celcius is equal to 32.0 degree fahrenheit

Q.2: Given list of integers and find sum of all positive numbers

In [ ]:
def sum_for_positive_numbers(numbers):
    positive_sum = 0
    for i in numbers:
        if i > 0:
            positive_sum += i
    return positive_sum

int_list = [5,10,5,-5,-7]
positive_sum = sum_for_positive_numbers(int_list)

print(f'The sum of the positive numbers is {positive_sum}')

The sum of the positive numbers is 20

Q.3: write program to convert given number of days into years, weeks and days

In [ ]:
def convert_days_to_years_weeks_days(days):
    years = days // 365
    days %= 365
    weeks = days // 7
    days %= 7
    return years, weeks, days

total_days = int(input("Enter the number of days: "))

years, weeks, remaining_days = convert_days_to_years_weeks_days(total_days)

print(f"{total_days} days is equal to:")
print(f"{years} years, {weeks} weeks, and {remaining_days} days")

Enter the number of days: 50000
50000 days is equal to:
136 years, 51 weeks, and 3 days

Q.4: Given list of numbers find maximum and minimum values

In [ ]:
def find_max_min_numbers(numbers):
    if len(numbers) == 0:
        return None, None

    maximum = numbers[0]
    minimum = numbers[0]

    for num in numbers:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    return maximum, minimum
number_list = [20,25,7,8,32]

maximum, minimum = find_max_min_numbers(number_list)

print(f"Maximum value is {maximum}")
print(f"Minimum value is {minimum}")

Maximum value is 32
Minimum value is 7

Q.5: Create a list of fruits and access element using indexing

In [2]:
def elements_index(index):
  fruits=['Apple','Banana','Orange','Watermelon']
  if index <= len(fruits):
    index_fruits=fruits[index]
    return index_fruits
  else:
    print('Invalid Index number')

elements_index(5)

Invalid Index number

Q.6: Create a function to cound number of vowels in a given string

In [ ]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

text = input("Enter a string: ")

vowel_count = count_vowels(text)
print(f"Number of vowels in the string: {vowel_count}")

Enter a string: Sushil
Number of vowels in the string: 2

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [ ]:
names = ["Sushil", "Carol", "Abhishek", "Balram", "Sabin",'Bibek']
concatenated_names = " ".join(names)

print (concatenated_names)
print(type(concatenated_names))

Sushil Carol Abhishek Balram Sabin Bibek
<class 'str'>

Q. 8: Create a function to reverse a given string

In [ ]:
def reverse_string(word):
  reversed=word[::-1]
  print(reversed)

reverse_string('Sushil')

lihsuS

Q.9: Create a loop that prints first 10 even numbers

In [ ]:
for i in range(20):
  i+=1
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Q.10: Given list of names, print all names starting with letter A

In [ ]:
names = ['Aman','Aakash','Sushil','Ruman','Abhishek','Carol']

for name in names:
    if name[0] =='A' or name[0]=='a':
        print(name)

Aman
Aakash
Abhishek

Q. 11: Implement a program that prints multiplication table of a given number

In [ ]:

def multiplication_table(num):
  j=int(input("Enter the number till where you want the multiplication table: "))
  for i in range(j):
    i+=1
    print(f'{num} * {i} = {i*num}')

multiplication_table(int(input("Enter the number whose multiplication table you want: ")))

Enter the number whose multiplication table you want: 10
Enter the number till where you want the multiplication table: 15
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150

Q.12: Given list of words, count the number of words with more than five characters

In [4]:
def count_words(words):
  if len(words) > 5:
    print(f'There is more than 5 characters in the word and the total count for the characters is {len(words)} and the excess character than 5 is {len(words)-5}')
  elif len(words) == 5 :
    print('There is exactly 5 characters in the word')
  else:
    print(f'There is less than 5 characters in the word and the total count for the characters is {len(words)} and the required characters to be 5 is {5-len(words)}')

count_words(input("Enter the word: "))

Enter the word: sush
There is less than 5 characters in the word and the total count for the characters is 4 and the required characters to be 5 is 1

Q.13: write a function to calculate area of circle given its radius

In [ ]:
from math import pi
def radius_circle(r):
  area = pi*r**2
  print(f'The area for a circle with the radius {r} is {area}')

radius_circle(float(input("Enter the Radius of the circle in cm: ")))

Enter the Radius of the circle in cm: 10
The area for a circle with the radius 10.0 is 314.1592653589793

Q.14 write a function that takes two lists and return their intersection

In [ ]:

def find_intersection(list1, list2):
    intersection = []

    for item in list1:
        if item in list2:
            intersection.append(item)

    return intersection

list1 = [1, 2, 3, 4, 5,10,12]
list2 = [3, 4, 5, 6, 7,10]

result_intersection = find_intersection(list1, list2)
print(f'The intersection for the two list1 {list1} and list2 {list2} is {result_intersection}')

The intersection for the two list1 [1, 2, 3, 4, 5, 10, 12] and list2 [3, 4, 5, 6, 7, 10] is [3, 4, 5, 10]

Q.15: add a new key value pair to an existing dictionary

In [ ]:
my_dict = {"name": "Sushil", "age": 24, "city": "Lalitpur"}

my_dict["gender"] = "Male"

my_dict["phone number"] = 9851228263

print(my_dict)

{'name': 'Sushil', 'age': 24, 'city': 'Lalitpur', 'gender': 'Male', 'phone number': 9851228263}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [ ]:
from math import pi

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return pi * self.radius ** 2

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

circle = Circle(9)
triangle = Triangle(7,2)
rectangle = Rectangle(3,9)

shapes = [circle, triangle, rectangle]

for shape in shapes:
    print(f"Area of {shape.__class__.__name__}: {shape.area()}")

Area of Circle: 78.53981633974483
Area of Triangle: 14.0
Area of Rectangle: 54