Q.1: Convert temp from celcius to fahrenheit

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius_temperature = float(input("Enter temperature in Celsius: "))
fahrenheit_temperature = celsius_to_fahrenheit(celsius_temperature)
print("Temperature in Fahrenheit:", fahrenheit_temperature)

Enter temperature in Celsius: 12
Temperature in Fahrenheit: 53.6

**Q**.2: Given list of integers and find sum of all positive numbers

In [ ]:
def sum_positive_numbers(numbers):
    positive_sum = 0
    for num in numbers:
        if num > 0:
            positive_sum += num
    return positive_sum

integer_list = [-5, 10, -3, 7, 0, 2]

result = sum_positive_numbers(integer_list)
print("Sum of positive numbers:", result)

Sum of positive numbers: 19

Q.3: write program to convert given number of days into years, weeks and days

In [ ]:
def convert_days_to_years_weeks_days(days):
    years = days // 365
    weeks = (days % 365) // 7
    remaining_days = days - (years * 365) - (weeks * 7)
    return years, weeks, remaining_days

days_input = int(input("Enter the number of days: "))

years, weeks, remaining_days = convert_days_to_years_weeks_days(days_input)

print(f"{days_input} days is approximately:")
print(f"{years} years, {weeks} weeks, and {remaining_days} days.")

Enter the number of days: 365
365 days is approximately:
1 years, 0 weeks, and 0 days.

Q.4: Given list of numbers find maximum and minimum values

In [ ]:
def maximum(numbers):
  return max(numbers)

def minimum(numbers):
  return min(numbers)

numbers = [1,2,3,4,5]

print(f"Maximum: {maximum(numbers)}")
print(f"Minimum: {minimum(numbers)}")

Maximum: 5
Minimum: 1

Q.5: Create a list of fruits and access element using indexing

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'guava']

print(fruits[0])
print(fruits[-1])

apple
guava

Q.6: Create a function to cound number of vowels in a given string

In [ ]:
def count_vowel(string):
  count = 0
  for s in string:
    if s == 'a' or s == 'e' or s == 'i' or s == 'o' or s == 'u':
      count += 1
  return count

count_vowel('asedi')

3

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [ ]:
def concatenate_names_with_spaces(name_list):
    concatenated_names = " ".join(name_list)
    return concatenated_names

names = ["John", "Jane", "Alice", "Bob"]
result = concatenate_names_with_spaces(names)
print(result)

John Jane Alice Bob

Q. 8: Create a function to reverse a given string

In [ ]:
def RevString(string):
  return string[::-1]

RevString('abc')

'cba'

Q.9: Create a loop that prints first 10 even numbers

In [ ]:
for i in range(1, 21):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Q.10: Given list of names, print all names starting with letter A

> Indented block

In [40]:
def print_names_starting_with_a(name_list):
    for name in name_list:
        if name.startswith("A"):
            print(name)

names = ["Alice", "Bob", "Amy", "Alex", "Eve", "Anna"]
print_names_starting_with_a(names)

Alice
Amy
Alex
Anna

Q. 11: Implement a program that prints multiplication table of a given number

In [39]:
def multiplication_table(n):
  print(f"{n}*1 = {n*1}")
  print(f"{n}*2 = {n*2}")
  print(f"{n}*3 = {n*3}")
  print(f"{n}*4 = {n*4}")
  print(f"{n}*5 = {n*5}")
  print(f"{n}*6 = {n*6}")
  print(f"{n}*7 = {n*7}")
  print(f"{n}*8 = {n*8}")
  print(f"{n}*9 = {n*9}")
  print(f"{n}*10 = {n*10}")


multiplication_table(7)

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

Q.12: Given list of words, count the number of words with more than five characters

In [41]:
def count_words_with_more_than_five_characters(word_list):
    count = 0
    for word in word_list:
        if len(word) > 5:
            count += 1
    return count

words = ["apple", "banana", "grape", "strawberry", "kiwi", "orange"]
result = count_words_with_more_than_five_characters(words)
print("Number of words with more than five characters:", result)

Number of words with more than five characters: 3

Q.13: write a function to calculate area of circle given its radius

In [ ]:
import math

def calculate_circle_area(radius):
    if radius < 0:
        return "Radius cannot be negative"

    area = math.pi * (radius ** 2)
    return area

radius = float(input("Enter the radius of the circle: "))
area = calculate_circle_area(radius)
print(f"The area of the circle with radius {radius} is {area:.2f}")

Enter the radius of the circle: 2
The area of the circle with radius 2.0 is 12.57

Q.14 write a function that takes two lists and return their intersection

In [43]:
def find_intersection(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]

find_intersection(list1, list2)

[4, 5]

Q.15: add a new key value pair to an existing dictionary

In [33]:
ed = {}

ed["key1"] = "value_1"
ed["key2"] = "value_2"

print(ed)

{'key1': 'value_1', 'key2': 'value_2'}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [44]:
import math

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height


circle = Circle(5)
print("Circle Area:", circle.area())

triangle = Triangle(4, 8)
print("Triangle Area:", triangle.area())

rectangle = Rectangle(6, 10)
print("Rectangle Area:", rectangle.area())

Circle Area: 78.53981633974483
Triangle Area: 16.0
Rectangle Area: 60