Q.1: Convert temp from celcius to fahrenheit

In [1]:
def celcius_to_fahrenheight(x):
    temp_in_F = (x*9/5) + 32
    print(temp_in_F)

celcius_to_fahrenheight(100)

212.0

Q.2: Given list of integers and find sum of all positive numbers

In [2]:
list1 = [1, 3, 4, 5, 6, 9]
sum = 0
for x in list1:
  if x%2 ==0:
    sum += x

print(sum)

10

Q.3: write program to convert given number of days into years, weeks and days

In [47]:
no_of_days = 1000
no_of_years = int(no_of_days/365)
no_of_weeks =int((no_of_days%365)/7)
no_of_days = int((no_of_days%365)%7)
print(no_of_years)
print(no_of_weeks)
print(no_of_days)

2
38
4

Q.4: Given list of numbers find maximum and minimum values

In [3]:
x = [2, 3, 4, 5, 6, 7]
print(max(x))
print(min(x))

7

Q.5: Create a list of fruits and access element using indexing

In [4]:
fruits = ['apple', 'banana', 'mango']
# to access banana or 2nd element
print(fruits[1])

banana

Q.6: Create a function to cound number of vowels in a given string

In [5]:
vowels = ['a', 'e', 'i', 'o', 'u']
str1 = "Hello, how are you ?"
count = 0
for x in str1:
  if x.lower() in vowels:
    count +=1

print(count)

7

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [8]:
names = ['ram', 'sam', 'harry']
name_list =''
for x in names:
  name_list += x+' '
print(name_list)

ram sam harry

Q. 8: Create a function to reverse a given string

In [11]:
str1 = 'kathmandu'
reverse = str1[::-1]
print(reverse)

udnamhtak

Q.9: Create a loop that prints first 10 even numbers

In [52]:
count = 0
for x in range(50):
  if count <11:
    if x%2 == 0:
      print(x)
      count +=1
    else:
      continue
  else:
    break

0
2
4
6
8
10
12
14
16
18
20

Q.10: Given list of names, print all names starting with letter A

In [56]:
import re
names = ['Amber', 'Harry', 'Anita', 'John']
for name in names:
  x = (re.findall("^A.*", name))
  print(x)

['Amber']
[]
['Anita']
[]

Q. 11: Implement a program that prints multiplication table of a given number

In [28]:
def multi(x):
  for y in range(10):
    print(r"{} x {} = {}".format(x, y+1, x*(y+1)))

multi(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q.12: Given list of words, count the number of words with more than five characters

In [29]:
list1 = ['ram', 'samuel','kathmandu', 'program']
count = 0
for word in list1:
  if len(word)>5:
    count +=1
  else:
    continue
print(count)

3

Q.13: write a function to calculate area of circle given its radius

In [33]:
import math
def area(x):
  print(2*math.pi*x)

area(5)

31.41592653589793

Q.14 write a function that takes two lists and return their intersection

In [34]:
def intersection(x, y):
  set_x = set(x)
  set_y = set(y)
  print(set_x.intersection(set_y))

intersection([1, 2, 3, 4, 5], [4, 5, 6, 7, 8])

{4, 5}

Q.15: add a new key value pair to an existing dictionary

In [35]:
dict1 = {'name':'ram', 'add':'ktm'}
dict1['phone'] = '232423'
print(dict1)

{'name': 'ram', 'add': 'ktm', 'phone': '232423'}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [57]:
class Rectangle:
  def __init__(self, length, breadth):
    self.length = length
    self.breadth = breadth

  def area(self):
    self.area = self.length * self.breadth

class Square(Rectangle):
  def __init__(self, length):
    Rectangle.__init__(self, length, length)


sq1 = Square(2)
print(sq1.area())

None