
Q.1: Convert temp from celcius to fahrenheit

In [3]:
def to_farenheight(celcius):
  farenheit = celcius*9/5 +32
  return(farenheit)
to_farenheight(26)

78.8

Q.2: Given list of integers and find sum of all positive numbers

In [21]:
def sum(x,y):
  list_of_integers = []
  for a in range(x,y):
    list_of_integers.append(a)
  sum = 0
  for item in list_of_integers:
    if item > 0:
      sum += item
  return sum
sum(-20,20)

190

Q.3: write program to convert given number of days into years, weeks and days

In [30]:
def convert_days(days):
  year = int(days//365)
  weeks =int((days%365)/7)
  days = int((days%365)%7)
  return (f"years={year} weeks={weeks}  days={days}")

convert_days(1000)

'years=2 weeks=38  days=4'

Q.4: Given list of numbers find maximum and minimum values

In [44]:
import random
def minmax(numbers):
  list_of_numbers = []
  for a in range(numbers):
    random_number = random.randint(1,1000)
    list_of_numbers.append(random_number)

  print(f"MAXIMUM among {numbers} numbers is :{max(list_of_numbers)}")
  print(f"MINIMUM among {numbers} numbers is :{min(list_of_numbers)}")

minmax(10)

MAXIMUM among 10 numbers is :727
MINIMUM among 10 numbers is :138

Q.5: Create a list of fruits and access element using indexing

In [46]:
def select_fruit(index):
  list_of_fruits = ["apple", "mango", "guava", "litchi", "pineapple", "banana", "kiwi", "dragonfruit"]
  if index > len(list_of_fruits):
    print("out of range")
  else:
    print(f"AT this list index of value {index} is {list_of_fruits[index]}.")
select_fruit(6)

AT this list index of value 6 is kiwi.

Q.6: Create a function to cound number of vowels in a given string

In [60]:
def count_vowels():
  list = ["a", "e", "i", "o", "u"]
  choice = input("enter the string \n")
  num = 0
  for string in choice:

    if string in list:
      string_list = []
      string_list.append(string)
      num += 1
  print(f"there are total {num} vowels in the string .i.e ={string_list}")

count_vowels()

enter the string
happydent
there are total 2 vowels in the string .i.e =['e']

Q. 7: Given list of names, concatenate them into single string seperated by spaces

In [66]:

list_of_names =["ram", "shhyam", "hari", "sita", "gita", "rita", "siaram"]
concatenated_name = " ".join(list_of_names)
print(concatenated_name)

ram shhyam hari sita gita rita siaram

Q. 8: Create a function to reverse a given string

In [72]:
def reverse_string():
  to_reverse = input("what do you want to reverse bro?")
  reversed_text = to_reverse[::-1]
  print(f"The reversed text is {reversed_text}.")

reverse_string()

what do you want to reverse bro?happydent
The reversed text is tnedyppah.

Q.9: Create a loop that prints first 10 even numbers

In [79]:
random_numbers = []
for num in range(100):
  if num % 2 ==0 and len(random_numbers)<10:
    random_numbers.append(num)
print(random_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Q.10: Given list of names, print all names starting with letter A

In [ ]:
list_of_names =["ram", "shhyam", "arik", "sita", "gita", "rita", "siaram", "akash", "ananda", "ashley"]
for item in list_of_names:
  if item[0].lower() == "a":
    print(item)

Q. 11: Implement a program that prints multiplication table of a given number

In [ ]:
def multiplication_table(of, to):
  for a in range(1, to+1):
    print(f"{of} * {a} = {of * a }")
multiplication_table(5,20)

Q.12: Given list of words, count the number of words with more than five characters

In [89]:
list_of_names =["shhyam", "hari", "sita", "gita", "rita", "siaram", "undertaker", "hurricane", "hulk", "stonecold"]
for item in list_of_names:
  if len(item) > 5:
    print(f"{item}: {len(item)}")

shhyam: 6
siaram: 6
undertaker: 10
hurricane: 9
stonecold: 9

Q.13: write a function to calculate area of circle given its radius

In [95]:
from math import pi
def calculate_area_of_circle(radius):
 return round(float(pi * radius**2),2)
calculate_area_of_circle(5)

78.54

Q.14 write a function that takes two lists and return their intersection

In [97]:
list1 = [1,2,3,4,5,6,7]
list2 = [2,5,9,7,6]
x=set(list1)
y=set(list2)
z = x.intersection(y)
print(z)

{2, 5, 6, 7}

Q.15: add a new key value pair to an existing dictionary

In [104]:
dict ={
    "id": 1,
    "name":"rohit",
    "address":"baneshwor",
}
dict["phone"] = 9841396283
print(dict)

{'id': 1, 'name': 'rohit', 'address': 'baneshwor', 'phone': 9841396283}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)

In [106]:
from math import pi
class Shapes:
  def area(self):
    pass
class Circle(Shapes):
  def __init__(self, radius):
    self.radius = radius
  def area(self):
    return pi*self.radius**2
class Triangle(Shapes):
  def __init__(self,base,height):
    self.base = base
    self.height = height
  def area(self):
    return 0.5 * self.base*self.height
class Rectangle(Shapes):
  def __init__(self,length,breadth):
    self.length = length
    self.breadth = breadth
  def area(self):
    return self.length* self.breadth
circle = Circle(5)
rectangle = Rectangle(7,8)
triangle = Triangle(8,6)

shapes_list = [circle, rectangle, triangle]
for item in shapes_list:
  print(f"Area of {item.__class__.__name__}={item.area()}")

Area of Circle=78.53981633974483
Area of Rectangle=56
Area of Triangle=24.0