Q.1: Convert temp from celcius to fahrenheit

In [1]:
def celcius_to_fahrenheit(c):
  f = (c * (9 / 5) + 32)
  print(f)



celcius_to_fahrenheit(0)

32.0

Q.2: Given list of integers and find sum of all positive numbers

In [11]:
list = [1,2,3,4,5,6,7,8,9]
s = 0
for i in list:
  s = i + s
print(list)
print("the sum of all positive number is", s)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
the sum of all positive number is 45

Q.3: write program to convert given number of days into years, weeks and days

In [56]:
# a = input("Enter the number of days: ")
a = 1000

if a >= 365:
   y = a // 365
   print(y, "years")
   s = a - (y * 365)
   if s >= 7:
    w = s // 7
    print(w, "weeks")
    d = s - (w * 7)
    print(d, "days")

2 years
38 weeks
4 days

Q.4: Given list of numbers find maximum and minimum values

In [46]:
list = [10, 49, 30, 48, 100, 90, 65]


print(max(list))
list = [10, 49, 30, 48, 100, 90, 65]
print(min(list))

100
10

Q.5: Create a list of fruits and access element using indexing

In [18]:
fruits = ['apple', 'banana', 'orange', 'mango']
print(fruits[0])
print(fruits[-1])

apple
mango

Q.6: Create a function to cound number of vowels in a given string

In [20]:
def vowels(x):
  count = 0
  for i in x:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
      count += 1
  print(count)

vowels("sabin")

2

Q. 7: Given list of names, concatenate them into single string seperated by spaces

Q. 8: Create a function to reverse a given string

In [28]:
def reverse(w):
  a = ''
  for s in w:
    a = s + a

  print(a)


reverse("sabin")

nibas

Q.9: Create a loop that prints first 10 even numbers

In [34]:
i = 0
a = 0
while i <= 9:
  a = a + 2
  print(a)
  i += 1

2
4
6
8
10
12
14
16
18
20

Q.10: Given list of names, print all names starting with letter A

Q. 11: Implement a program that prints multiplication table of a given number

In [35]:
def multiplication(n):
  i = 1
  m = 0

  while i <=10:
    m = i * n
    print(i, 'X', n, '=', m)
    i+=1

multiplication(7)

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70

Q.12: Given list of words, count the number of words with more than five characters

In [43]:
list = ['sabin', 'apple', 'banana', 'car', 'bike', 'mango', 'orange']

for i in list:
  a = len(i)
  if a > 5:
    print(i)
    print(len(i))

banana
6
orange
6

Q.13: write a function to calculate area of circle given its radius

In [37]:
from math import pi
def area_of_circle(r):
  a = pi * r ** 2
  print(a)

area_of_circle(5)

78.53981633974483

Q.14 write a function that takes two lists and return their intersection

Q.15: add a new key value pair to an existing dictionary

In [45]:
car = {
    'model' : 'suzuki',
    'price' : 100000,

}
print(car)
car['year'] = 2023
print(car)

{'model': 'suzuki', 'price': 100000}
{'model': 'suzuki', 'price': 100000, 'year': 2023}

Q.16: implement a program that uses inheritance to represent a hierarchy of shapes (circle, triangle, rectangle etc)